<template>
  <card title="Update Pegawai">
    Silahkan isi data di bawah!

    <form @submit.prevent="save">
      <div class="form-group row">
        <label for="inputNama" class="col-sm-2 col-form-label">Nama</label>
        <div class="col-sm-10">
          <input class="form-control" id="inputName" placeholder="Name" v-model="form.name">
        </div>
      </div>
      <div class="form-group row">
        <label for="inputDateOfBirth" class="col-sm-2 col-form-label">Tanggal Lahir</label>
        <div class="col-sm-10">
          <input class="form-control" id="inputDateOfBirth" placeholder="Tanggal Lahir" v-model="form.date_of_birth">
        </div>
      </div>
      <div class="form-group row">
        <label for="inputJobTitle" class="col-sm-2 col-form-label">Job Title</label>
        <div class="col-sm-10">
          <input class="form-control" id="inputJobTitle" placeholder="Job Title" v-model="form.job_title">
        </div>
      </div>
      <button class="btn btn-info" :disabled="loading">
        Update Pegawai
      </button>
    </form>
  </card>
</template>

<style scoped>
</style>

<script>
import axios from 'axios'
import Swal from 'sweetalert2'

export default {
  middleware: 'auth',

  head () {
    return { title: "Tambah Pegawai" }
  },

  async asyncData(context) {
      let resp = (await axios.get('employee/' + context.params.id)).data
      let form = resp.model
      return {
        form
      }
  },

  data() {
    return {
      loading: false,
    }
  },

  methods: {
    async save() {
      this.loading = true
      let resp = (await axios.patch('employee/' + this.$route.params.id, this.form)).data
      this.loading = false
      Swal.fire({
        icon: 'success',
        title: 'Berhasil',
        text: 'Data Berhasil Disimpan',
        confirmButtonText: 'ok',
      })
    },
  },
}
</script>
